* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/RobotoBold.ttf);
	font-weight: bold;
}

html {
	font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}

.header {
	border-bottom: 1px solid #E5E5E5;
}

.container {
	margin: 0 auto;
	max-width: 1400px;
}

.colorg {
	color: #5D5D5F;
}

.nav__menu {
	display: flex;
	padding: 0 2.5rem;
	margin: 1rem 0;
}

.nav__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	margin-right: 13rem;
}

.nav__elem {
	margin-right: 11.5rem;
}

.nav__elem:hover {
	border-bottom: 2px solid black;
}

.logo:hover {
	border-bottom: none;
}

.nav__list li {
	list-style: none;
}

.nav__list a {
	text-decoration: none;
	color: #000;
}

.main__info {
	background: url(../img/background.png) no-repeat;
	min-height: 700px;
}

.h1__text {
	font-size: 8rem;
	margin-bottom: 4rem;
	padding-top: 10rem;
}

.main_text {
	max-width: 500px;
}

.card__items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.card__item {
	max-width: 384px;
	text-align: center;
	margin-right: 2.5rem;
	margin-bottom: 4rem;
}

.card__header {
	font-size: 2.3rem;
	font-weight: bold;
}

.card__icons {
	display: flex;
	margin-top: 2rem;
}

.card__icon {
	min-width: 110px;
}

.card__icon img {
	gap: 3rem;
}

.btnorder {
	border: none;
	color: white;
	background-color: black;
	min-width: 385px;
	padding: 1.5rem 12.2rem;
	margin-top: 3rem;
	font-weight: bold;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.btnorder:hover {
	opacity: 0.8
}

.cbold {
	font-weight: bold;
}

.btn {
	background-color: #030305;
	color: #fff;
	;
	border: none;
	text-transform: uppercase;
	padding: 2rem 5rem;
	margin-top: 4rem;
	font-weight: bold;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.btn:hover {
	opacity: 0.8
}

.h2__text {
	font-size: 6rem;
}

.sec3 {
	margin-top: 6rem;
}

.price-form {
	margin-top: 6rem;
	max-width: 300px;
}

.price-item {
	box-sizing: border-box;
	min-width: 340px;
	margin-bottom: 1.5rem;
	background-color: #fff;
	border: 1px solid #5D5D5F;
	padding: 2.2rem 0 2.2rem 1.8rem;
}

.btnprice {
	background-color: black;
	color: #fff;
	text-transform: uppercase;
	min-width: 340px;
	border: none;
	font-weight: bold;
	padding: 2rem 11.5rem;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.btnprice:hover {
	opacity: 0.8;
}

.question {
	display: flex;
}

.imgquestion {
	margin-left: 6rem;
}

.footer {
	border-top: 1px solid #E5E5E5;
	;
}

.footer-info {
	display: flex;
	align-items: center;
	padding: 2.5rem 0;
	justify-content: space-between;
}

.burger-btn {
	display: none;
	font-size: 2.4rem;
	border: none;
	background-color: white;
	cursor: pointer;
}

@media (max-width: 768px) {

	html {
		font-size: 62.5%;
	}

	.burger-btn {
		display: block;
		position: absolute;
		top: 1rem;
		right: 3rem;
	}

	body> :not(.header) {
		padding: 0 2.5rem;
	}

	.nav__list {
		display: none;
		flex-direction: column;
		top: 2rem;
		right: 1rem;
		position: absolute;
		background-color: white;
		border-radius: 1rem;
		box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
	}

	.nav__elem:hover {
		border-bottom: none;
	}

	.nav__elem {
		margin-right: 0;
		padding: 1.5rem 2.5rem;
	}

	.nav__list.active {
		display: flex;
	}

	.main__info {
		background: none;
		min-height: auto;
	}

	.btnprice {
		margin-bottom: 2rem;
	}

	.h1__text {
		margin-bottom: 2.5rem;
		padding-top: 3rem;
	}

	.h2__text {
		margin-top: 3.5rem;
	}

	.footer-info {
		margin: 2rem 0;
	}

	.card__item {
		max-width: 700px;
		align-items: center;
	}

	.imgquestion {
		display: none;
	}
}

@media (max-width: 600px) {

	html {
		font-size: 56.5%;
	}

	body> :not(.header) {
		padding: 0 1rem;
	}
}

@media (max-width: 480px) {
	html {
		font-size: 50%;
	}

	.h1__text {
		font-size: 6rem;
	}


	body> :not(.header) {
		padding: 0 1.2rem;
	}

}

